<%= render partial: "layouts/error", locals: { object: @concept}%>
<h1>Write Your Concept</h1>

<%= form_for(@concept) do |f|%>
<!-- <% f.hidden_field :user_id, value: session[:user_id] %> -->
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
    <br><br>
    <%= f.label :content %> <br>
    <%= f.text_area :content %>
    <br><br>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, {:include_blank => 'Choose Genre'} %>
    <br><br>
     <%= f.collection_select :media_type_id, MediaType.all, :id, :name, {:include_blank => 'Choose Media Type'} %>
    <br><br>
     <%= f.submit %>

<% end %>     